body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #f5f5f5; /* Light gray for default background */
  color: #333; /* Dark text for better readability */
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
